$tablet-width: 768px;
$desktop-width: 1000px;

$color-grey: #9e9e9e;
$color-ltgrey: #e5e5e5;
$color-black: #1c1c1c;
$color-blue: #435993;
$color-crema: #e9efff;
$color-placeholder: #c8c8c8;
$color-value: #2e211c;